// * compensate for versatile banner top margin off-set *

// #main-outlet {
//  margin-top: -25px;
//}

//  * disable faq *

.nav-pills .nav-item-faq {display: none}


// * text formatting *

/*Change color differentiating ADMIN users from MOD users*/
span.username {
  &.moderator .d-icon.d-icon-shield-alt {
    color: #d5b907;
  }
  &.admin .d-icon.d-icon-shield-alt {
    color: #969696;
  }
} 

// GridironGirl's favorite color! 

//a.mention[data-mention="GridironGirl"] {
//color: #a100db!important;
//}

//span.username a[data-user-card="GridironGirl"] {
//  color: #a100db;
//}

// image alignment with text in posts

[data-theme-image="left"] {
    float: left;
    img {
      margin: 1em 1em 0 0;
    }
}

[data-theme-image="right"] {
    float: right;
    img {
      margin: 0em 0em 0em 1em;
    }
}

// * body contents

@import url("https://fonts.googleapis.com/css?family=Noto+Sans:100,400,600");
body {
    font-family: 'Noto Sans', sans-serif;
    //font-size: 16px;
}

.wrap {
    max-width: var(--d-max-width);
    margin-right: auto;
    margin-left: auto;
    padding: 0 6px;       
}

.title-wrapper {
	margin-left: 0px;
}

.extra-info-wrapper .header-title {
	font-size: 1.3em;
}

.badge-wrapper .badge-category .category-name {
    font-size: 1.1em;
}


#user-card {
  //background: #eeeeee;    
  border-radius: 8px;
}

.d-user-card__main-content {
    background-color: rgba(#000, 0.82);
}

//.hamburger-panel .revamped .sidebar-section-wrapper.sidebar-section ul {
//  display: grid;
//  grid-template-columns: 1fr 1fr; 
//}

// Hide the lock icon for specific categories on topic lists and hamburger menu,
// and hide the lock icon on all dropdown search results
//.category-drop [data-value="29"] .restricted,
//[href^="/c/off-topic"] {
//    .d-icon-lock {
//        display: none;
//    }
//}

.d-header {
    background: rgba(#000000, 0.80);    
}

.nav-pills > li > a {
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    padding: 8px 12px 8px 12px;
}

//.select-kit.combo-box.category-drop .category-drop-header {
//  border-radius: 12px;
//  padding: 8px 12px 8px 12px;
//}

.btn, .select-kit.dropdown-select-box .dropdown-select-box-header {
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
}

// post navigation buttons

nav.post-controls .actions button {
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
}
