// * body contents

.wrap {
    max-width: var(--d-max-width);
    margin-right: auto;
    margin-left: auto;
    padding: 0 6px;       
}

.title-wrapper {
	margin-left: 0px;
}

.extra-info-wrapper .header-title {
	font-size: 1.3em;
}

.badge-wrapper .badge-category .category-name {
    font-size: 1.1em;
}

#user-card {
  //background: #eeeeee;    
  border-radius: 8px;
}

.d-user-card__main-content {
    background-color: rgba(#000, 0.82);
}

.d-header {
    background: rgba(#000000, 0.80);    
}

.nav-pills > li > a {
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    padding: 8px 12px 8px 12px;
}

.btn, .select-kit.dropdown-select-box .dropdown-select-box-header {
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
}

// post navigation buttons

nav.post-controls .actions button {
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
}
